@model IEnumerable<KaraokeModel>


@{
    ViewData["Title"] = "Index";
}

@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            @if (!Char.IsWhiteSpace(ViewBag.FirstLetter))
            {
                <th>
                    Artist's Beginning with @ViewBag.FirstLetter
                </th>
            }
            @if (!String.IsNullOrEmpty(ViewBag.Search))
            {
                <th>
                    Your Search of: @ViewBag.Search
                </th>
            }
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-controller="Request"asp-action="Create"asp-route-songId="@item.Id"asp-route-artist="@item.Artist"asp-route-song="@item.Title">Request</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
}
